.c-loader {
    &-container {
        position: relative;
        min-height:600px;
        width: 100%;
    }
    &-wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(var(--background-color), 0.75);
        z-index: 1001;
    }
    &-img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120px;
        height: 120px;
        margin-top: -60px;
        margin-left: -60px;
    }
}
