// Typography
// Headings
//     src: url('styles/fonts/Roboto-Regular.eot');
// url('styles/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
/*
@font-face {
    font-family: 'Roboto';
    src: url('styles/fonts/Roboto-Regular.woff2') format('woff2'),
        url('styles/fonts/Roboto-Regular.woff') format('woff'),
        url('styles/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: normal;
  margin-bottom: .5em;
  margin-top: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}
h1,
.h1 {
  font-size: 2.5rem;
  line-height: 1.4;
}
h2,
.h2 {
  font-size: 2rem;
  line-height: 1.25;
}
h3,
.h3 {
  font-size: 2rem;
  line-height: 1.25;
}
h4,
.h4 {
  font-size: 1.125rem;
  line-height: 1.5;
}
h5,
.h5 {
  font-size: 1.5rem;
  line-height: 1.3333;
}
h6,
.h6 {
  font-size: 1.25rem;
  line-height: var(--base-line-heigh);
}

// Paragraphs
p {
  margin: 0 0 1.25rem;
  line-height: 1.4;
}

a {
  color: var(--link-color);
  outline: none;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active,
  &.active {
    color: var(--link-color);
    text-decoration: underline;
  }

  &:visited {
    color: var(--link-color);
  }
}
// Semantic text elements
a,
ins,
u {
  text-decoration-skip: ink edges;
}
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

// Lists
ul,
ol {
  margin: $unit-4 0 $unit-4 $unit-4;
  padding: 0;

  ul,
  ol {
    margin: $unit-4 0 $unit-4 $unit-4;
  }

  li {
    margin-top: $unit-2;
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: $unit-2 0 $unit-4 0;
  }
}

hr {
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  height: 0;
  overflow: visible;
}
