* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    overflow-y:scroll;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.navbar-toggler::focus{
    box-shadow: 0 0 0 2px;
}

.app h1 {
    font-size: 1.8rem ;
}
.app h2 {
    font-size: 1.6rem;
}
.app h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.app  .pull-left {
    float: left !important;
}

.app  .pull-right {
    float: right !important;
}
.app-logo {
    position: relative;
    margin-top: 20px;
    min-height: 120px;

    background: rgb(74,151,204); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(43,104,146,1) 0%, rgba(74,151,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(43,104,146,1) 0%,rgba(74,151,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(43,104,146,1) 0%,rgba(74,151,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B6892', endColorstr='#4a97cc',GradientType=0 );
}
.app-logo-img {
    height: 120px;
    width: 100%;
    background-image: url('../public/logo.png');
    background-repeat: no-repeat;
    background-position: right;
}

.app-logo-title {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    left: 30px;
    top: 30px;
}
