# Dependencies
node_modules

# Build output
dist/
build
lib/
.next

# Environment
.env
credentials.json
credentials.base64.json

# Coverage
coverage

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# IDE / OS
.DS_Store
*.sublime-workspace
*.sublime-project
temp

# Logs
npm-debug.log
lerna-debug.log

# Auth
.npmrc

# TypeScript
*.tsbuildinfo

# Archives
*.zip
