@import '../../common.scss';

.app-mobile-menu {
  display: block;
  width: 100%;
  height: $mobile-navigation-height;
  min-height: $mobile-navigation-height;

  &-header {
    display: block;
    width: 100%;
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
  &-icon {
    display: block;
    float: left;
    cursor: pointer;
    padding: 1rem;
    margin: 4px;
  }
  &-logo {
    display: block;
    color: var(--white-color);
    float: left;
    line-height: 56px;
  }


  &-content-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
