.search-layout {
  &-tabs {
    .app-layout-header {
        height: 126px;
        min-height: 126px;
    }
    .app-layout-content {
        top: 126px;
    }
  }
  &__page {
    display: block;
    max-width: 950px;
    min-height: 100%;
    padding: 0.5rem 1rem;
  }

  &__search-icon {
    color: var(--dark-grey-color);
  }

  &__results-header {
    padding: 0.75rem 0 0 0;
  }
}
