.c-details-page {
    &__publication {
        margin-top: 1rem;
    }
    &__authors {
        margin-bottom: 0;
        a {
            margin-right: 0.5rem;
        }
    }
    &__pub_item {
        margin-bottom: 0.5rem;
    }
    &__doi_link {
        margin-right: 0.5rem;
    }
}

.c-square {
    position: relative;
    width: 100%;

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    margin-bottom: 1rem;
}

.c-content {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212529;
}
