@import '../../common.scss';

.nav-menu {
  margin: 1rem 0;
  &-title {
    padding: 0 1rem 0 0.5rem;
    line-height: 2rem;
    &-text {
      float: left;
    }
    &-icon {
      font-size: 0.7rem;
      margin-top: 0.15rem;
      float: right;
    }
    @include clearfix();
  }
  &-list {
    list-style: none;
    &, li {
      margin: 0;
      padding: 0;
    }
  }
  &-item {
      line-height: 2rem;
      display: block;
      &, &:hover, &:active, &:focus, &.active {
        color: var(--white-color);
        text-decoration: none;
        outline: none;
        box-shadow: none;
        padding-left: 1rem;
        margin-left: 2px;
      }
      &:hover, &:active,  &.active {
        background-color: var(--color-grey-pastel-grey);
      }
      &.active {
        margin-left: 0px;
        border-left: 2px solid var(--primary-color);
      }
      .icon {
        padding-right: 0.5rem;
      }
  }
}
