@import '../../common.scss';

.nav-menu {

  &-list {
    list-style: none;
    &, li {
      margin: 0;
      padding: 0;
    }
  }
  &-item {
      min-height: 48px;
      line-height: 48px;
      text-align: center;
      display: block;

      & { opacity: 0.65; }
      &, &:hover, &:active, &:focus, &.active, &:visited {
        color: var(--white-color);
        text-decoration: none;
        outline: none;
        box-shadow: none;
      }
      &:hover, &:active,  &.active {
        opacity: 1;
        background-color: var(--additional-color);
      }
      &.active {
        opacity: 1;
      }
  }
}
