::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: var(--light-grey-color);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--grey-color);
}
