// Import Customized Spetctre Styles
@import 'styles/main.scss';
@import 'styles/spectre-icons.scss';

body, html, #root, .app {
  min-height: 100%;
  max-height: 100% !important;
  height: 100%;
}

$side-bar-open-width: 244px;
$header-nav-height: 66px;

.app-navigation, .app-layout {
  height: 100%;
  max-height: 100%;
  position: relative;
}

// Main Layout
.app {
  display: flex;
  align-items: stretch;

  &-navigation {
    user-select: none;
    width: $side-bar-open-width;
    flex: 0 0 $side-bar-open-width;
    background-color: var(--color-grey-black);
    color: var(--white-color);

    &-header {
      height: $header-nav-height;
      min-height: $header-nav-height;
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.09);

      padding: 17px 25px;
      line-height: 25px;

      &-logo {
        float: left;
      }
      &-menu {
        display: inline-block;
        float: right;
      }
      @include clearfix();
    }
  }
  &-layout {
    flex: 1;
    background: var(--color-grey-background);

    &-header {
        height: $header-nav-height;
        min-height: $header-nav-height;
        background: var(--white-color);
        box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.09);
    }
    &-content {
        position: absolute;
        left: 0;
        right: 0;
        top: $header-nav-height;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
  }
}
.nav-menu {
  margin: 1rem 0;
  &-title {
    padding: 0 1rem 0 0.5rem;
    line-height: 2rem;
    &-text {
      float: left;
    }
    &-icon {
      font-size: 0.7rem;
      margin-top: 0.15rem;
      float: right;
    }
    @include clearfix();
  }
  &-list {
    list-style: none;
    &, li {
      margin: 0;
      padding: 0;
    }
  }
  &-item {
      line-height: 2rem;
      display: block;
      &, &:hover, &:active, &:focus, &.active {
        color: var(--white-color);
        text-decoration: none;
        outline: none;
        box-shadow: none;
        padding-left: 1rem;
        margin-left: 2px;
      }
      &:hover, &:active,  &.active {
        background-color: var(--color-grey-pastel-grey);
      }
      &.active {
        margin-left: 0px;
        border-left: 2px solid var(--primary-color);
      }
      .icon {
        padding-right: 0.5rem;
      }
  }
}
