// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--base-font-size);
  line-height: var(--base-line-heigh);
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--background-color);
  color: var(--black-color);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--link-color);
  outline: none;
  text-decoration: none;

  &:focus {
    @include control-shadow();
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    color: var(--link-color-dark);
    text-decoration: underline;
  }

  &:visited {
    color: var(--link-color-light);
  }
}
