// Core variables
$version: "0.5.8";

// Core features
$rtl: false !default;

// Main Colors
$primary-color: #0E4575;
$secondary-color: #F5B895;
$additional-color: #658DC6;

$primary-color-dark: darken($primary-color, 5%);

// Main Opacity
$primary-opacity-color: rgba($primary-color, .86);
$secondary-opacity-color: rgba($secondary-color, 0.86);
$additional-opacity-color: rgba($additional-color, 0.86);

// Basic Colors
$black-color: #373838;
$white-color: #ffffff;
$body-font-color: $black-color;
$light-color: $white-color;

// Grey
$dark-grey-color: #7F8FA4;
$grey-color: #B8C0CC;
$light-grey-color: #DCE6F5;
$clear-grey-color: #F4F6F9;;
$background-color: #F4F6F9;


// Information Colors
$default-color: #DCE6F5;
$active-color: #3B98F5;
$success-color: #32B85F;
$warning-color: #EDAD3E;
$error-color: #DB433D;

// Information background
$default-background-color: rgba($default-color, 0.3);
$active-background-color: rgba($active-color, 0.3);
$success-background-color: rgba($success-color, 0.3);
$warning-background-color: rgba($warning-color, 0.3);
$error-background-color: rgba($error-color, 0.3);

// Overlay Colors
$overlay-30-color: rgba(55, 56, 56, 0.5);
$overlay-70-color: rgba(55, 56, 56, 0.7);

// Additional Colors
$orange-color: #f68136;
$purple-color: #aa3af3;

// Other colors
$link-color: #249af3;
$link-color-dark: darken($link-color, 10%) !default;
$link-color-light: lighten($link-color, 10%) !default;

// Unit sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .2rem !default;
$unit-2: .4rem !default;
$unit-3: .6rem !default;
$unit-4: .8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;

// Fonts
// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$main-font-family: "Roboto", "Ubuntu" !default;
$mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", "Menlo", "Courier", monospace !default;
$fallback-font-family: "Arial", "Helvetica Neue", "sans-serif" !default;

// Font sizes
$base-font-family: $main-font-family, $fallback-font-family !default;
$font-size: 16px !default;
$font-size-text: 0.875rem;
$font-size-sm: 0.75rem;
$font-size-lg: $font-size;
$base-line-heigh: 1.25;
$control-input-font-size: 0.875rem;


$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;

// Some other base constants
$border-radius: 2px;
$border-width: 1px;
$control-font-size: 1rem;
$control-height: 2.0rem;
$line-height: 1.2rem;

$control-size: $unit-10 !default;
$control-size-sm: $unit-7 !default;
$control-size-lg: $unit-10 !default;



$control-padding-x: $unit-2 !default;
$control-padding-x-sm: $unit-2 * .75 !default;
$control-padding-x-lg: $unit-2 * 1.5 !default;
$control-padding-y: ($control-size - $line-height) / 2 !default;
$control-padding-y-sm: ($control-size-sm - $line-height) / 2 !default;
$control-padding-y-lg: ($control-size-lg - $line-height) / 2 !default;
$control-icon-size: .8rem !default;


$default-shadow: 2px 2px 2px rgba(36, 154, 243, 0.1);
$dropdown-shadow: 0px 4px 6px rgba(36, 154, 243, 0.1);

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --additional-color: #{$additional-color};


  --primary-opacity-color: #{$primary-opacity-color};
  --secondary-opacity-color: #{$secondary-opacity-color};
  --additional-opacity-color: #{$additional-opacity-color};

  --black-color: #{$black-color};
  --white-color: #{$white-color};

  --dark-grey-color: #{$dark-grey-color};
  --grey-color: #{$grey-color};
  --light-grey-color: #{$light-grey-color};
  --clear-grey-color: #{$clear-grey-color};
  --background-color: #{$background-color};

  --default-color: #{$default-color};
  --active-color: #{$active-color};
  --success-color: #{$success-color};
  --warning-color: #{$warning-color};
  --error-color: #{$error-color};

  --default-background-color: #{$default-background-color};
  --active-background-color: #{$active-background-color};
  --success-background-color: #{$success-background-color};
  --warning-background-color: #{$warning-background-color};
  --error-background-color: #{$error-background-color};

  --overlay-30-color: #{$overlay-30-color};
  --overlay-70-color: #{$overlay-70-color};

  --orange-color: #{$orange-color};
  --purple-color: #{$purple-color};

  --link-color: #{$link-color};
  --link-color-dark: #{$link-color-dark};
  --link-color-light: #{$link-color-light};

  --font-size: #{$font-size};
  --font-size-text: #{$font-size-text};
  --font-size-sm: #{$font-size-sm};

  --base-font-family: #{$base-font-family};
  --base-line-heigh: #{$base-line-heigh};

  --border-width: #{$border-width};
  --border-radius: #{$border-radius};
  --line-height: #{$line-height};
  --control-input-font-size: #{$control-input-font-size};
  --control-font-size: #{$control-font-size};


  --control-height: #{$control-height};
  --control-padding-x: #{$control-padding-x};
  --control-padding-y: #{$control-padding-y};
  --control-border-color: #{$light-grey-color};

  --default-shadow: #{$default-shadow};
  --dropdown-shadow: #{$dropdown-shadow};
}
