@import '../../common.scss';

.app-navigation {
  background: var(--primary-color);

  &-header {
    height: $header-nav-height;
    min-height: $header-nav-height;

    &-logo {
      width: $side-bar-open-width;
      margin-top: 2rem;
      margin-left: 20px;
      height: 40px;
    }

    &__logo-icon {
      display: inline-block;
    }
    &__logo-title {
      display: inline-block;
      position: relative;
      top: -8px;
      right: -20px;
    }
  }
}
