@import '../../common.scss';

.app-navigation {
  background: var(--primary-color);

  &-header {
    height: $header-nav-height;
    min-height: $header-nav-height;

    &-logo {
      display: block;
      width: 100%;
      margin-top: 2rem;
      overflow: hidden;
      height: 40px;
      padding: 0 20px;
    }

    &__logo-icon {
      display: block;
      float: left;
    }
    &__logo-title {
      display: block;
      float: left;
      line-height: 40px;
      padding-left: 0.75rem;
      vertical-align: middle;
      svg {
        position: relative;
        top: 5px;
      }
    }
    &-menu-top {
      margin-top: 1.5rem;
    }
    &-menu-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
