// Label base style
@mixin label-base() {
    border-radius: var(--border-radius);
    line-height: 1.25;
    padding: .1rem .2rem;
  }

@mixin label-variant($color: "white-color", $bg-color: "primary-color") {
    background: var(--#{$bg-color});
    color: var(--#{$color});
}
